<div>
    <b><h2 class="info">En esta página tendrá la opción de ver en cada opción los 5 personajes, planetas, razas, naves o vehículos</h2></b>
    <b><h2 class="info">más importantes de la película seleccionada, para solamente de clic en el link “More Info” de la opción deseada.</h2>f</b>
</div>
<div class="wrapper">
    <div class="box a">
      <img src="./../../../assets/images/Personajes.png" alt="">
      <br><br>
      <h2>PEOPLE</h2>
      <a href="">More Info</a>
    </div>
    <div class="box b">
      <img src="./../../../assets/images/Planetas.png" alt="">
      <br><br>
      <h2>PLANETS</h2>
    </div>
    <div class="box c">
      <img src="./../../../assets/images/Razas.png" alt="">
      <br><br>
      <h2>SPECIES</h2>
    </div>
    <div class="box d">
      <img src="./../../../assets/images/Naves.png" alt="">
      <br><br>
      <h2>STARSHIPS</h2>
    </div>
    <div class="box e">
      <img src="./../../../assets/images/Vehiculos.png" alt="">
      <br><br>
      <h2>VEHICLES</h2>
    </div>
  </div>
