<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let img of images">
        <img class="imgbanner"[src]="img" alt="imagen del banner">
      </div>
    </div>
</div>
<br><br><br><br>

<div class="welcome">
  <h1>
    <p>!!! Bienvenidos al grandioso Universo de -- Star Wars -- ¡¡¡</p>
  </h1>
  <br>
  <h3>
    <p>Para ver el detalle de sus peliculas favoritas, haga clic en la opcion "Films" de la parte superior.</p>
  </h3>
</div>
<br><br><br><br><br>
<div class="wrapper">
  <div class="box a">
    <img src="./../../../assets/images/4 The Phantom Menace.jpg" alt="">
  </div>
  <div class="box b">
    <img src="./../../../assets/images/5 Attack of the Clones.jpg" alt="">
  </div>
  <div class="box c">
    <img src="./../../../assets/images/6 Revenge of the Sith.jpg" alt="">
  </div>
  <div class="box d">
    <img src="./../../../assets/images/1 A New Hope.jpg" alt="">
  </div>
  <div class="box e">
    <img src="./../../../assets/images/2 The Empire Strikes Back.jpg" alt="">
  </div>
  <div class="box f">
    <img src="./../../../assets/images/3 Return of the Jedi.jpg" alt="">
  </div>
</div>
  
